<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://papappservice-tpdmsapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>papappservice-tpdmsapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>papappservice__TpdmsApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$papappservice__TpdmsApi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TPDMSDbModel" Order="1" Enabled="False">
          <Destination Path="Data Source=papdbserver.database.windows.net;Initial Catalog=TPDMS;User ID=dbadmin;Password=P@pastrat0$19;Application Name=EntityFramework" Name="data source=papdbserver.database.windows.net;initial catalog=TPDMS;user id=dbadmin;password=P@pastrat0$19;multipleactiveresultsets=True;application name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.80.0.226,4000;Initial Catalog=TPDMS;User ID=sa;Password=asd456$%^;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TPDMSDbModel_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=10.80.0.226,4000;initial catalog=TPDMS;user id=sa;password=asd456$%^;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TPDMSDbModel-Web.config Connection String">
      <ParameterValue>data source=papdbserver.database.windows.net;initial catalog=TPDMS;user id=dbadmin;password=P@pastrat0$19;multipleactiveresultsets=True;application name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>